

.main{
    display: flex;
    flex-direction: column;

}

.container-mail{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-image: url("ressources/contactbg.svg");
    background-repeat: no-repeat;
    background-size: cover; /* Utilisation de 'cover' pour une taille d'arrière-plan responsive */
    height: 800px;
    gap: 2em;
    margin: 0 auto 100px;
}

.container-mail .container-head{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.container-mail .container-head input{
    height: 30px;
    width: 250px;
    padding-left: 15px;
    font-family: "imprima", sans-serif;
}


.container-mail #message textarea{
    display: flex;
    margin-left: 100px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 100px;
    width: calc(100% - 200px);
    box-sizing: border-box;
    height: 40vh;
    font-family: "imprima", sans-serif;
}

.container-mail button{
    width: 150px;
    float: left;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: auto;
    height: 30px;
    background-color: #F9984E;
    border: none;
    color: white;
    font-family: "imprima", sans-serif;
    box-shadow: 2px 1px 6px black;
}

.container-title{
    background-color: #353535;
    width: 60%;
    z-index: 1;
    margin: 50px auto -25px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 2px 1px 6px black;
}
.container-title p{
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Luckiest Guy", serif ;
    font-size: 32px;

}

#contact {
    width: 80%;
    background-color: #454545;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

#contact form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 4em;
    height: fit-content;
}

#contact form label{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    width: 100%;
    font-family: "imprima", sans-serif;
}

#contact form label input{
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    padding-left: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "imprima", sans-serif;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

#contact form label textarea{
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: none;
    max-height: 45%;
    height: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "imprima", sans-serif;
    padding: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

#contact button{
    display: flex;
    margin-left: auto;
    width: 15%;
    justify-content: center;
    align-items: center;
    background-color: #FBA14C;
    color: white;
    font-family: "imprima", sans-serif;
    border: none;
    border-radius: 6px;
    height: 2em;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}


@media screen and (max-width: 1200px) {

    .container-mail .container-head input{
        width: 150px;
    }

    .container-title p{
        font-size: 22px;
    }
}


@media screen and (max-width: 900px) {

    .container-mail .container-head {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100% - 100px);
    }
    .container-mail .container-head input{
        flex-direction: column;
        width: 100%;
        height: 20px;
        font-size: 10px;

    }

    .container-title{
        height: 50px;
    }
    .container-title p{
        font-size: 12px;
    }

    .container-mail #message textarea{
        font-size: 10px;
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
        width: calc(100% - 100px);
    }

    .container-mail button{
        margin-left: 50px;
        width: 70px;
    }
}


@media (max-width: 600px) {
    #contact form{
        width: 60%;
    }

    #contact button{
        width: 100%;
    }
}