

.main{
    display: flex;
    flex-direction: column;
}

.main .container{
    width: 70%;
    margin-top: 50px;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;

}

.main .container img{
    max-width: 800px;
    width: 150%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 4px 28px 7px #b6b6b6;
}

.main h1{
    font-family: "Luckiest Guy", serif;
    font-size: 42px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #454545;

}

.main .container h1{
    margin-left: auto;
    margin-right: auto;
    font-family: "imprima", sans-serif;
    font-size: 22px;
    width: 100%;
    color: #353535;
    text-align: center;

}
.main .container p{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: "imprima", sans-serif;
    font-size: 22px;
    width: 80%;
    color: #454545;
    height: 100%;

}



.appetence h1{
    font-family: "Luckiest Guy", serif;
    font-size: 42px;
    color: white;
}

.competence{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
}
.competence h1{
    font-family: "Luckiest Guy", serif;
    font-size: 42px;
    color: #454545;
}
.appetence{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #454545;
    width: 100%;
    height: 700px;
}

.appetence .container-appetence{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.appetence .container-appetence .container-appetence.competence img{
    max-width: 120px;
    margin-right: auto;
    margin-left: auto;

}
.appetence .container-appetence .container-appetence.competence h1 {
    font-family: "Luckiest Guy", serif;
    font-size: 32px;
    color: white;
}
.appetence .container-appetence .container-appetence.competence p {
    font-family: "imprima", sans-serif;
    font-size: 22px;
    color: white;
    text-align: center;
}
.appetence .container-appetence .container-appetence.competence {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    justify-content: space-between;
    gap: 2rem;
    margin: auto;

}

